<!doctype html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta charset="utf-8">
	<title>Clips</title>
	<meta name="description" content="">

	<meta name="viewport" content="width=device-width">
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans|Raleway+Dots|Voltaire' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="assets/stylesheets/global.css">
</head>
<body>
	<header>
        <h1>Clips</h1>
	</header>
	
	<div role="main">
		<%= yield %>
	</div>
	
	<footer>

	</footer>
</body>
</html>